
.navbar{
    background-color: #c45832;
}

.jumbotron{
    background-color: #008B6A;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
